body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3d3d3d;
    height: 100vh;
    font-family: "montserrat", sans-serif;
}
.loading2{
    color: #ffffff;
    position: absolute;
    width: 200px;
    height: 200px;
    font-size: 30px;
    text-align: center;
    line-height: 230px;
    animation: loading2 3s infinite linear;
}
.loading{
    width: 300px;
    height: 300px;
    /* background-color: red; */
    border-radius: 50%;
    border-top: 20px solid #ff3f34;
    box-sizing: border-box;
    position: relative;
    animation: loading 3s infinite linear;
}
.loading::before, .loading::after{
    content: '';
    width: 300px;
    height: 300px;
    /* background-color: red; */
    position: absolute;
    top: -20px;
    left: 0;
    box-sizing: border-box;
    border-radius: 50%;
}
.loading::before{
    border-top: 20px solid #575fcf;
    transform: rotate(120deg);
}
.loading::after{
    border-top: 20px solid #ffa801;
    transform: rotate(240deg);
}
@keyframes loading{
    to{
        transform: rotate(360deg);
    }
}
@keyframes loading2{
    to{
        transform: rotate(-360deg);
    }
}